@font-face {
  font-family: "American Typewriter";
  src: url("../fonts/dehinted-AmericanTypewriter.ttf");
}
body {
  font-family: "American Typewriter", sans-serif;
  color: #373D3F;
}

.game-hero {
  position: relative;
  overflow: hidden;
}

.game-hero img {
  width: 100%;
}
@media (max-width: 640px) {
  .game-hero img {
    height: 235px;
    object-fit: cover;
  }
}

.game-hero-title {
  position: absolute;
  top: 5%;
  left: 2%;
  font-size: 8vw;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
  color: #FFFFFF;
}
@media (max-width: 640px) {
  .game-hero-title {
    text-shadow: 2px 2px 2px darkgrey;
    font-size: 50px;
    font-weight: 600;
  }
}

.home {
  position: absolute;
  bottom: 5%;
  left: 2%;
}

.home img {
  width: 50px;
  height: 50px;
}
@media (max-width: 640px) {
  .home img {
    width: 40px;
    height: 40px;
  }
}

.game-why {
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../imgs/diamonds.png");
  background-size: cover;
  background-attachment: fixed;
}

.game-why-container,
.game-what-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 30px 50px 50px 50px;
}

.game-why-title {
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
  font-size: 7vw;
  line-height: 10vw;
  color: gray;
  text-align: center;
  padding: 20px;
}
@media (max-width: 640px) {
  .game-why-title {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
  }
}

.game-why-title span {
  color: #0EB9CB;
}

.game-why-subtitle,
.game-what-subtitle {
  font-size: 50px;
  line-height: 70px;
  font-weight: 600;
  text-align: right;
  display: flex;
  justify-self: right;
  max-width: 70%;
  margin-top: 50px;
}
@media (max-width: 992px) {
  .game-why-subtitle,
  .game-what-subtitle {
    font-size: 40px;
    line-height: 55px;
  }
}
@media (max-width: 640px) {
  .game-why-subtitle,
  .game-what-subtitle {
    font-size: 24px;
    line-height: 30px;
    width: 90%;
    margin-top: 30px;
  }
}

.game-why-content {
  padding: 80px 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}
@media (max-width: 640px) {
  .game-why-content {
    padding: 50px 0 50px;
    gap: 15px;
  }
}

.game-why-item {
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  border: 5px #0EB9CB solid;
  padding: 40px 20px;
  width: 30%;
}
@media (max-width: 992px) {
  .game-why-item {
    width: 45%;
  }
}
@media (max-width: 640px) {
  .game-why-item {
    width: 320px;
  }
}

.game-why-name {
  position: absolute;
  top: -15px;
  right: 30px;
  background-color: #FFFFFF;
  color: #fe8255;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
  font-size: 30px;
  padding: 5px;
}
@media (max-width: 992px) {
  .game-why-name {
    font-size: 24px;
  }
}
.game-why-fact {
  font-size: 18px;
  line-height: 20px;
}

.game-what {
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../imgs/island.png") no-repeat;
  background-size: 100%;
}

.game-what-content {
  padding: 100px 10px 0;
}
@media (max-width: 640px) {
  .game-what-content {
    padding: 50px 0 50px;
  }
}

.game-what-item {
  margin-bottom: 30px;
}

.game-what-title {
  font-size: 22px;
}

.game-what-title:first-letter {
  font-size: 40px;
  padding: 0 5px;
  color: #FFFFFF;
  background: #0EB9CB;
  border-radius: 15px;
}

.game-what-list {
  font-size: 20px;
  line-height: 25px;
  list-style: disc;
  margin-top: 20px;
}

.game-what-list li {
  margin-top: 15px;
}

.game-what-text {
  font-size: 26px;
  line-height: 40px;
  font-weight: 300;
  border-radius: 30px;
  border: 5px #0EB9CB solid;
  padding: 20px;
  margin-top: 50px;
}
@media (max-width: 992px) {
  .game-what-text {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 640px) {
  .game-what-text {
    font-size: 20px;
    line-height: 30px;
  }
}

/*# sourceMappingURL=style_game.css.map */
