$dark-color: #373D3F;
$accent-color: #0EB9CB;
$main-color: #8B1A1A;

@font-face {
  font-family: "American Typewriter";
  src: url("../fonts/dehinted-AmericanTypewriter.ttf");
}

body {
  font-family: "American Typewriter", sans-serif;
  color: $dark-color;
}


.game-hero {
  position: relative;
  overflow: hidden;
}

.game-hero img {
  width: 100%;
  @media (max-width: 640px) {
    height: 235px;
    object-fit: cover;
  }
}

.game-hero-title {
  position: absolute;
  top: 5%;
  left: 2%;
  font-size: 8vw;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  @media (max-width: 640px) {
    text-shadow: 2px 2px 2px darkgrey;
    font-size: 50px;
    font-weight: 600;
  }
}

.home {
  position: absolute;
  bottom: 5%;
  left: 2%;

}
.home img{
  width: 50px;
  height: 50px;
  @media (max-width: 640px){
    width: 40px;
    height: 40px;
  }
}

.game-why {
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
  url("../imgs/diamonds.png");
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 10%;
}

.game-big-title {
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
  font-size: 7vw;
  line-height: 10vw;
  color: gray;
  text-align: center;
  padding: 20px;
  @media (max-width: 640px) {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
  }
}

.game-big-title span {
  color: $accent-color;
}

.text-title {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  text-align: right;
  display: flex;
  justify-self: right;
  max-width: 70%;
  margin-top: 50px;
  @media (max-width: 992px) {
    font-size: 30px;
    line-height: 50px;
  }
  @media (max-width: 640px) {
    font-size: 24px;
    line-height: 30px;
    width: 90%;
    margin-top: 30px;
  }
}

.game-why-content {
  padding: 80px 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 20px;

  @media (max-width: 640px) {
    padding: 50px 0 50px;
    gap: 15px;
  }
}

.game-why-item {
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  border: 5px $accent-color solid;
  padding: 40px 20px;
  width: 30%;
  @media (max-width: 992px) {
    width: 45%;
  }
  @media (max-width: 640px) {
    width: 320px;
  }
}

.game-why-name {
  position: absolute;
  top: -15px;
  right: 30px;
  background-color: #FFFFFF;
  color: #fe8255;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow', Arial, sans-serif;
  font-weight: 300;
  font-size: 30px;
  padding: 5px;
  @media (max-width: 992px) {
    font-size: 24px;
  }
  @media (max-width: 640px) {
    //font-size: 18px;
    //font-weight: 600;
  }
}

.game-why-fact {
  font-size: 18px;
  line-height: 20px;
}

.game-what {
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)),
  url("../imgs/island.png") no-repeat;
  background-size: 100%;
}

.game-what-content {
  padding: 100px 10px 0;
  @media (max-width: 640px) {
    padding: 50px 0 50px;
  }
}

.game-what-item {
  margin-bottom: 30px;
}

.game-what-title {
  font-size: 22px;
}

.text-subtitle {
  font-size: 26px;
  line-height: 40px;
  font-weight: 700;
  padding: 20px;
  margin-top: 30px;
  @media (max-width: 992px) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
  }
}

.text-subtitle:first-letter {
  font-size: 40px;
  font-weight: 600;
  padding: 0 5px;
  color: #FFFFFF;
  background: $accent-color;
  border-radius: 15px;
}

.game-what-list {
  font-size: 20px;
  line-height: 25px;
  list-style: disc;
  margin-top: 20px;
}

.game-what-list li {
  margin-top: 15px;
}

.text-frame {
  font-size: 22px;
  line-height: 32px;
  font-weight: 300;
  border-radius: 30px;
  border: 2px $accent-color solid;
  padding: 20px;
  margin-top: 50px;
  @media (max-width: 992px) {
    font-size: 18px;
    line-height: 20px;
  }
}

