@font-face {
  font-family: "American Typewriter";
  src: url("../fonts/dehinted-AmericanTypewriter.ttf");
}
body {
  font-family: "American Typewriter", sans-serif;
  color: #373D3F;
}

.header-top {
  font-family: Poppins, sans-serif;
  background: #d5d5d5;
  border-bottom: #ffffff 5px solid;
}

@media (max-width: 500px) {
  .header-title {
    gap: 10px;
  }
}

.header-title img {
  border: 5px solid #D7C69B;
}

.header-title h2 {
  text-shadow: none;
}
@media (max-width: 500px) {
  .header-title h2 {
    text-align: center;
  }
}

.game-title p {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}
@media (max-width: 500px) {
  .game-title p {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .header-list {
    background: #d5d5d5;
  }
}

@media (max-width: 992px) {
  .header-action {
    background: #d5d5d5;
  }
}

.header-burger {
  background: #d5d5d5;
}

.game-hero {
  position: relative;
  overflow: hidden;
}

.game-hero img {
  width: 100%;
}
@media (max-width: 640px) {
  .game-hero img {
    height: 235px;
    object-fit: cover;
  }
}

.game-hero-title {
  position: absolute;
  top: 5%;
  left: 2%;
  font-size: 8vw;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
  color: #FFFFFF;
}
@media (max-width: 640px) {
  .game-hero-title {
    text-shadow: 2px 2px 2px darkgrey;
    font-size: 50px;
    font-weight: 600;
  }
}

.game-why {
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../imgs/diamonds.png");
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 10%;
}

.game-big-title {
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
  font-size: 7vw;
  line-height: 10vw;
  color: gray;
  text-align: center;
  padding: 20px;
}
@media (max-width: 640px) {
  .game-big-title {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
  }
}

.game-big-title span {
  color: #0EB9CB;
}

.text-title {
  margin-top: 50px;
}

.game-why-content {
  padding: 80px 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}
@media (max-width: 640px) {
  .game-why-content {
    padding: 50px 0 50px;
    gap: 15px;
  }
}

.game-why-item {
  position: relative;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 30px;
  border: 5px #0EB9CB solid;
  padding: 40px 20px;
  width: 30%;
}
@media (max-width: 992px) {
  .game-why-item {
    width: 45%;
  }
}
@media (max-width: 640px) {
  .game-why-item {
    width: 320px;
  }
}

.game-why-name {
  position: absolute;
  top: -15px;
  right: 30px;
  background-color: #FFFFFF;
  color: #fe8255;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
  font-size: 30px;
  padding: 5px;
}
@media (max-width: 992px) {
  .game-why-name {
    font-size: 24px;
    font-weight: 500;
  }
}

.game-why-fact {
  font-size: 18px;
  line-height: 20px;
  text-align: justify;
}

.game-price {
  background-image: url("../imgs/sea.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 100px 0;
  margin-bottom: 50px;
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 10%;
}

.price-title {
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 50px;
}
@media (max-width: 992px) {
  .price-title {
    font-size: 30px;
    line-height: 50px;
  }
}
@media (max-width: 640px) {
  .price-title {
    font-size: 24px;
    line-height: 30px;
    width: 90%;
    margin-top: 30px;
  }
}

.price-subtitle {
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 20px;
  margin-top: 30px;
  text-align: center;
}
@media (max-width: 992px) {
  .price-subtitle {
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
  }
}

.price-tag {
  font-family: Poppins, sans-serif;
  background: #ffffff;
  border-radius: 30px;
  text-align: center;
  color: #fe8255;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: none;
  padding: 20px;
  margin-top: 30px;
  transition-duration: 0.5s;
}

.price-tag:hover {
  background: #fe8255;
  color: #ffffff;
}

.game-what {
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../imgs/island.png") no-repeat;
  background-size: 100%;
}

.game-what-content {
  padding: 100px 10px 0;
}
@media (max-width: 640px) {
  .game-what-content {
    padding: 50px 0 50px;
  }
}

.game-what-item {
  margin-bottom: 30px;
}

.game-what-title {
  font-size: 22px;
}

.text-subtitle:first-letter {
  background: #0EB9CB;
}

.text-frame {
  border: 2px #0EB9CB solid;
}

.faq {
  margin-bottom: 50px;
}
@media (max-width: 700px) {
  .faq {
    background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../imgs/cards/card1.jpg") top;
    background-size: cover;
  }
}

.faq-container {
  max-width: 2000px;
  padding: 50px 0 0 10%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
@media (min-width: 2000px) {
  .faq-container {
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .faq-container {
    padding: 50px 0 0 5%;
  }
}
@media (max-width: 700px) {
  .faq-container {
    padding: 50px 10%;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }
}

.faq-items {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 30px;
}
@media (max-width: 700px) {
  .faq-items {
    width: 100%;
  }
}

.faq-item {
  position: relative;
}

.faq-item:after {
  content: "";
  width: 90%;
  height: 1px;
  background: #0EB9CB;
  position: absolute;
  bottom: -30px;
}
@media (max-width: 700px) {
  .faq-item:after {
    width: 100%;
    background: #ffffff;
    height: 2px;
  }
}

.faq-question {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}
@media (max-width: 992px) {
  .faq-question {
    font-size: 18px;
  }
}
@media (max-width: 700px) {
  .faq-question {
    color: #000000;
  }
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

.active-answer {
  max-height: 500px;
  font-size: 18px;
  line-height: 22px;
  margin-top: 10px;
  color: #5A6163;
}
@media (max-width: 992px) {
  .active-answer {
    font-size: 16px;
  }
}
@media (max-width: 700px) {
  .active-answer {
    color: #000000;
  }
}

.faq-img {
  display: block;
  width: 50%;
  height: 600px;
  background: url("../imgs/cards/card1.jpg") center;
  background-size: cover;
}
@media (max-width: 992px) {
  .faq-img {
    height: 700px;
  }
}
@media (max-width: 700px) {
  .faq-img {
    display: none;
  }
}

footer {
  background: #d5d5d5;
}

/*# sourceMappingURL=style-game.css.map */
